### Initialize pyspark

In [1]:
import findspark
findspark.init()
import pyspark

### Initialize and create a spark session

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

### Creating List of Tuple

In [3]:
donuts = [("plain donut", 1.50), ("vanilla donut", 2.0), ("glazed donut", 2.50)]

### Creating DataFrame

In [4]:
df = spark.createDataFrame(donuts).toDF("Donut Name", "Price")

### Show

In [5]:
df.show()

+-------------+-----+
|   Donut Name|Price|
+-------------+-----+
|  plain donut|  1.5|
|vanilla donut|  2.0|
| glazed donut|  2.5|
+-------------+-----+

### Creating array of Column names and its datatype

In [6]:
df.dtypes

[('Donut Name', 'string'), ('Price', 'double')]

In [16]:
columnNames, columnDataTypes = list(zip(*df.dtypes))

### Column Names

In [22]:
print("DataFrame column names = {}".format(', '.join(columnNames)))

DataFrame column names = Donut Name, Price

### Datatypes

In [23]:
print("DataFrame data tyoes = {}".format(', '.join(columnDataTypes)))

DataFrame data tyoes = string, double

### Closing Spark Session

In [24]:
spark.stop()