### Initialize pyspark

In [1]:
import findspark
findspark.init()
import pyspark

### Initialize and create a spark session

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

### Creating List of Tuple

In [110]:
donuts = [("Plain Donut", [1.50, 2.0]), ("Vanilla Donut", [2.0, 2.50]), ("Strawberry Donut", [2.50, 3.50])]

In [111]:
donuts

[('Plain Donut', [1.5, 2.0]),
 ('Vanilla Donut', [2.0, 2.5]),
 ('Strawberry Donut', [2.5, 3.5])]

### Creating Dataframe from Tuple

In [112]:
df = spark.createDataFrame(donuts).toDF("Name", "Prices")

### Show

In [114]:
df.show()

+----------------+----------+
|            Name|    Prices|
+----------------+----------+
|     Plain Donut|[1.5, 2.0]|
|   Vanilla Donut|[2.0, 2.5]|
|Strawberry Donut|[2.5, 3.5]|
+----------------+----------+

### Schema

In [115]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Prices: array (nullable = true)
 |    |-- element: double (containsNull = true)

### Splitting Prices into multiple columns

In [116]:
from pyspark.sql.functions import col

In [118]:
df2 = (df.select(
            "Name",
            col("Prices")[0].alias("Low Price"),
            col("Prices")[1].alias("High Price")
            )
      )

### Show

In [119]:
df2.show()

+----------------+---------+----------+
|            Name|Low Price|High Price|
+----------------+---------+----------+
|     Plain Donut|      1.5|       2.0|
|   Vanilla Donut|      2.0|       2.5|
|Strawberry Donut|      2.5|       3.5|
+----------------+---------+----------+

### Closing Spark Session

In [120]:
spark.stop()