### Initialize pyspark

In [1]:
import findspark
findspark.init()
import pyspark

### Initialize and create a spark session

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

### Creating List of Tuple

In [4]:
donuts = [("plain donut", 1.50), (None, 2.0), ("glazed donut", 2.50)]

### Creating Dataframe from Tuple

In [7]:
dfWithNull  = spark.createDataFrame(donuts).toDF("Donut Name", "Price")

### Show

In [8]:
dfWithNull .show()

+------------+-----+
|  Donut Name|Price|
+------------+-----+
| plain donut|  1.5|
|        null|  2.0|
|glazed donut|  2.5|
+------------+-----+

### Dropping Null Values

In [9]:
dfWithoutNull = dfWithNull.na.drop()

### Show

In [10]:
dfWithoutNull.show()

+------------+-----+
|  Donut Name|Price|
+------------+-----+
| plain donut|  1.5|
|glazed donut|  2.5|
+------------+-----+

### Closing Spark Session

In [11]:
spark.stop()